
/*-----------------------------*/
@import 'components/index';
@import "imports/dropdown";
@import 'imports/practice';



.art { color: $color-primary; }
.rule { width: 50%; color: $color-primary; background-color: $color-primary; }


.faqs { h3 { display: inline-block; }}

i { padding-left: 0.735em; }


